* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

:root {
  --greyhoverbackground: rgb(65, 72, 85);
  --hover: rgba(254, 245, 251, 0.699);
}

body {
  display: border-box;
  background: #4a4f61;
  /* background: #36363a; */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-container {
  /* border: 1px solid red; */
  padding: 10px;
  background-color: #3d3d3d;
  /* background-color: #2a6390; */
}

.calculator-display {
  max-width: 300px;
}

.calculator-display span {
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 10px;
  /* background-color: #4a4f61; */
  background-color: #b2b9b7;
  color: black;
  /* color: rgb(201, 201, 201); */
  font-size: 40px;
  padding-right: 10px;
  /* max-width: 300px; */
}

.calculator-keypad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
}

.calculator-keypad button {
  /* flex: 1 1 25%; */
  background-color: rgba(254, 245, 251, 0.699);
  /* background-color: var(--hover); */
  font-size: 20px;
}

.btn:hover {
  border: 2px solid #a89764;
}

#result:hover {
  border: 2px solid #a89764;
}

#result:active {
  background-color: #282c34;
}

.button-zero {
  width: 140px;
}

.calculator-keypad button.special {
  background-color: #282c34;
  color: white;
  border: 2px solid #a89764;
}

button {
  height: 70px;
  width: 70px;
}
